.comments_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: var(--very-light-gray, #F5F6FA);
}

.all_comments {
    flex: 1 0 auto;
}

.add_message_section {
    flex: 0 0 auto;
}

@media (min-width:730px) {
    .comments_container {
        padding-top: 64px;
    }

    .all_comments {
        width: 730px;
        margin: 0 auto;
    }

    .add_message_section {
        width: 730px;
        margin: 0 auto;
        padding: 20px 0px 64px 0px;
    }
}